---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
# color-profile datalist merged with forked file.
---

@import 'normalize';
@import 'general';
@import 'utilities';
@import 'icon-icomoon';
@import 'main';
@import 'post';
@import 'index-page';
@import 'about-page';
@import 'prism';
@import 'author';
@import 'cv';
@import 'media1080';
@import 'media780';
@import 'media500';
@import 'photoswipe';
@import 'photoswipe-default-skin';
@import '404';
@import 'override';
