---
layout: default
---

<div id="content" class="content">

    <ul class="recent-posts">
        <h3>Recent Posts</h3>
        {% for post in site.posts limit:5  %}
        {% unless post.draft %}
        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url }}">{{ post.title }}</a></span>
                        <time class="date" itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%B %e, %Y"}}</time>
                    </header>
                    <div class="dropdown">
                        <section class="post-excerpt" itemprop="description">
                            <p> {{ post.content | strip_html | truncatewords: 26 }} </p>
                        </section>
                        <section class="post-meta">
                            <span class="tags" itemprop="keywords">
                                Tags:
                                {% for tag in post.tags limit:5 %}
                                <span><a href="">{{ tag }}</a></span>
                                {% endfor %}
                            </span>
                            <span class="author" itemprop="author">{{ post.author }}</span>
                        </section>
                    </div>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>

</div>

<script src="{{ site.baseurl }}/js/jquery-1.12.0.min.js"></script>
<script src="{{ site.baseurl }}/js/index.js"></script>
