<div itemprop="author" itemscope itemtype="http://schema.org/Person">

    {% if site.data.authors and site.data.authors[include.param] %}
    {% assign author = site.data.authors.[include.param] %}
    {% elsif site.data.authors %}
    {% assign author = site.data.authors[0] %}
    {% endif %}

    {% assign counter = 0 %}
    {% for post in site.posts %}
    {% unless post.draft or post.author != author.initial %}
    {% assign counter = counter | plus: 1 %}
    {% endunless %}
    {% endfor %}

    {%  if author %}
    {%  if author.picture %}
    <div class="author-image">
        <div class="img image-bg" style="background-image: url({{author.picture | prepend: site.github.url | prepend: site.baseurl}})">
            <a class="hidden" href="{{author.picture | prepend: site.github.url | prepend: site.baseurl}}" itemprop="image">{{author.name}}'s Picture</a>
        </div>
    </div>
    {% endif %}

    <div class="short-diver">
        <h4 class="author" itemprop="name">{{ author.name }}</h4>

        {% if author.bio %}<p itemprop="description">{{ author.bio }}</p>{% endif %}

        <div class="author-meta">
            {%  if author.location %}<span class="author-location icon-location" itemprop="nationality">{{ author.location }}</span>{% endif %}
            <span class="author-stats"><i class="icon-stats"></i>{{ counter }} posts</span>
            {%  if author.website %}<span class="author-link icon-link" itemprop="url"><a href="{{ author.website }}">About</a></span>{% endif %}
        </div>
    </div>
    {% endif %}

</div>