{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<header class="main-header detail-page image-bg {% if cover %} has-cover" style="background-image: url({{ cover | prepend: site.github.url}})" {% else %} no-cover" {% endif %}>
    <h1 class="page-title"><a href="{{ site.github.url}}/">{{ site.title }}</a></h1>
    <h2 class="page-description">{{ site.subtitle }}</h2>
    <div class="nav">
        <ul>
            <li><a class="page-link" href="{{ site.github.url}}/">Home</a></li>
            <!--<li><a class="page-link" href="{{ site.github.url}}/files/">Files</a></li>
            <li><a class="page-link" href="{{ site.github.url}}/gallery/">Gallery</a></li>-->
            <li><a class="page-link" href="{{ site.github.url}}/offline">Offline</a></li>
            <li><a class="page-link" href="{{ site.github.url}}/about/">About</a></li>
        </ul>
    </div>
</header>