{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<header class="main-header detail-page image-bg {% if cover %} has-cover" style="background-image: url({{ cover | prepend: site.github.url}})" {% else %} no-cover" {% endif %}>
    <h1 class="page-title"><a href="{{ site.github.url}}/">{{ site.title }}</a></h1>
    <h2 class="page-description">{{ site.subtitle }}</h2>
    <div class="nav">
        <ul>
            <li><a class="page-link" href="{{ site.github.url}}/">Home</a></li>

            {% assign pages = site.pages | sort:"weight"  %}
            {% for my_page in pages %}

            {% if my_page.menutitle %}
            {% assign title = my_page.menutitle %}
            {% elsif site.cover %}
            {% assign title = my_page.title %}
            {% endif %}

            {% if title and my_page.visible != false %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.github.url }}">{{ title }}</a></li>
            {% endif %}
            {% endfor %}

            <li><a class="page-link" href="{{ site.github.url}}/about/">About</a></li>
        </ul>
    </div>
</header>