<main class="content" role="main">
    <article class="post single-post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header short-diver">
            <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
            <section class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> 
                on
                {% for tag in post.tags limit:5 %}
                <span><a href="">{{ tag }}</a></span>
                {% endfor %}
            </section>
        </header>

        <section class="post-content short-diver" itemprop="articleBody">
            {{post.content}}
        </section>

        <footer class="post-footer"> 
            {% include authorinfo.html param=post.author %}
        </footer>

    </article>
</main>

{% include photoswipe.html %}