<script src="{{ site.github.url | prepend: site.baseurl }}/js/jquery-1.12.0.min.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/js/jquery.fitvids.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/js/prism.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/js/photoswipe.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/js/photoswipe-ui-default.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/js/post.js"></script>