<script type="text/javascript">
var config = {
  'disqus_shortname': '{{ site.disqus_shortname }}'
};
</script>
<script src="{{ site.github.url | relative_url }}/js/jquery-1.12.0.min.js"></script>
<script src="{{ site.github.url | relative_url }}/js/jquery.fitvids.js"></script>
<script src="{{ site.github.url | relative_url }}/js/prism.js"></script>
<script src="{{ site.github.url | relative_url }}/js/photoswipe.js"></script>
<script src="{{ site.github.url | relative_url }}/js/photoswipe-ui-default.js"></script>
<script src="{{ site.github.url | relative_url }}/js/post.js"></script>
