/* this file is intended to customize some css properties without changing the forked css files */
/* this allows us to simple replace the forked scss files on changes in the forked repo */

/* change the icon and the location of the go-to-top */
.go-to-top {
    background-image: url('../assets/arrow-up.png');
    border-radius: 25px;
    top: 30px;
    bottom: auto;

}

/* hide that style in our layout */ 
.author-info:after {
    display: none;
}

.content {
    .short-diver {
        margin: 20px auto 40px;
    }
}

