/* Code blocks */
code,
pre {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre::selection, pre ::selection,
code::selection, code ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code,
    pre {
        text-shadow: none;
    }
}

pre {
    padding: 1em;
    margin: 1em 0;
}

pre code {
    display: block;
    width: 90%;
    max-width: 650px;
    margin: auto;
}

:not(pre) > code,
pre {
    background: rgba(250,250,250,0.8);
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

/* Inline code */
:not(pre) > code {
    padding: .1em .2em;
    border-radius: .3em;
    white-space: normal;
    border: 1px solid #eeeeee;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
