---
layout: headless
---
{% if site.data.authors and site.data.authors[page.author] %}
{% assign author = site.data.authors.[page.author] %}
{% elsif site.data.authors %}
{% assign author = site.data.authors[0] %}
{% endif %}

{% assign counter = 0 %}
{% for post in site.posts %}
    {% unless post.draft or post.author != author.initial %}
        {% assign counter = counter | plus: 1 %}
    {% endunless %}
{% endfor %}

<a href="{{ site.github.url | prepend: site.baseurl }}/" class="logo-readium"><span class="logo">{{ author.initial | slice: 0, 2 | downcase }}</span></a>

<section class="author-profile" itemprop="author" itemscope itemtype="http://schema.org/Person">
    {%  if author.cover %}
    <div class="author-cover image-bg" style="background-image: url('{{author.cover | prepend: site.github.url | prepend: site.baseurl}}')"></div>
    {% endif %}

    {%  if author.picture %}
    <figure class="author-image  {%  if author.cover %} has-cover  {% endif %}">
        <div class="img image-bg" style="background-image: url({{author.picture | prepend: site.github.url | prepend: site.baseurl}})">
            <a class="hidden" href="{{author.picture | prepend: site.github.url | prepend: site.baseurl}}" itemprop="image">{{author.name}}'s Picture</a>
        </div>
    </figure>
    {% endif %}

    <div class="author-info">
        <h1 class="author-title" itemprop="name">{{author.name}}</h1>
        {% if author.bio %} <h2 class="author-bio" itemprop="description">{{author.bio}}</h2> {% endif %}

        <div class="author-meta">
            {%  if author.email %}<a class="social-mail-alt" href="mailto:{{ author.email }}" itemprop="email">Mail</a>{% endif %}

            {%  if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" class="social-twitter">Twitter</a> {% endif %}
            {%  if author.linkedin %}<a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" class="social-linkedin">LinkedIn</a> {% endif %}
            {%  if author.xing %}<a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs" class="social-xing">Xing</a> {% endif %}

            {%  if author.github %}<a href="https://github.com/{{ author.github }}" itemprop="sameAs" class="social-github-circled">GitHub</a> {% endif %}
            {%  if author.stackoverflow %}<a href="http://stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs" class="social-stackoverflow">StackOverflow</a> {% endif %}

            {%  if author.facebook %}<a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs" class="social-facebook-squared">Facebook</a> {% endif %}
            {%  if author.gplus %}<a href="https://plus.google.com/+{{ author.gplus }}" itemprop="sameAs" class="social-gplus">Google+</a> {% endif %}

            {%  if author.soundcloud %}<a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs" class="social-soundcloud">Soundcloud</a> {% endif %}
            {%  if author.youtube %}<a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs" class="social-youtube">YouTube</a> {% endif %}

            {%  if author.pinterest %}<a href="https://www.pinterest.com/{{ author.pinterest }}" itemprop="sameAs" class="social-pinterest">Pinterest</a> {% endif %}
            {%  if author.dribble %}<a href="https://dribbble.com/{{ author.dribble }}" itemprop="sameAs" class="social-dribbble">Dribble</a> {% endif %}
            {%  if author.behance %}<a href="https://www.behance.net/{{ author.behance }}" itemprop="sameAs" class="social-behance">Behance</a> {% endif %}
    
        </div>                                   
    </div>                                       
</section>                                       
                                                 
<main class="content" role="main">               
    <article class="single-post">                
                                                 
        <section class="post-content">           
            {{content}}                          
        </section>

    </article>
</main>

{% include photoswipe.html %}
{% include post_scripts.html %}